/*Big tablets to smaller laptop screens*/
@media only screen and (max-width: 1200px) {
	html,
	body {
		font-size: 14px;
	}

	.section-heading,
	.contact-heading {
		margin-top: 90px;
	}

	.service-list {
		opacity: 1;
	}

	.featured__para {
		font-size: 2.4rem;
		z-index: 1;
		margin: 2.5rem;
		border-bottom: 2px solid var(--color-white);
	}

	.row-item {
		width: 398px;
		height: 395px;
	}

	.row-item-inner img {
		width: 395px;
		height: 395px;
	}

	.row-item-inner p {
		opacity: 1;
		left: 5%;
	}

	.overlay {
		/* width: 395px;
		height: 395px; */
		display: none;
	}

	/* .row-item:hover .overlay {
		opacity: 0;
	} */
}

/*Smaller tablets to larger tablets screens*/
@media only screen and (max-width: 1025px) {
	html,
	body {
		font-size: 12px;
	}
	.row {
		padding: 0 2%;
	}
	.about-box {
		margin-top: 60px;
	}
	.featured__image img {
		filter: none;
	}
	.croqui-container p {
		opacity: 1;
		margin-top: 3rem;
	}
	.croqui-container-img {
		transform: scale(1);
	}
	.gallery-image img {
		transform: scale(1);
		filter: none;
	}
	.portfolio-filter-cat {
		justify-content: center;
		padding: 0.8rem;
	}
	footer p {
		line-height: 1.3;
	}
	.row-item {
		width: 337px;
		height: 335px;
	}
	.row-item-inner img {
		width: 335px;
		height: 335px;
	}
	/* .overlay {
		width: 335px;
		height: 335px;
	} */
	/* .row-item:hover .overlay {
		opacity: 0;
	} */
}

/*Larger phones to smaller tablets screens*/
@media only screen and (max-width: 950px) {
	.about-box {
		margin-top: 0;
	}
	.row-item {
		width: 313px;
		height: 310px;
	}
	.row-item-inner img {
		width: 310px;
		height: 310px;
	}
	/* .overlay {
		width: 310px;
		height: 310px;
	} */
	.portfolio-filter-cat .category {
		padding: 0.5rem 0.8rem;
	}
	.row-item-inner p {
		/* width: 96%; */
		top: 22%;
		/* background-color: rgba(209, 124, 44, 0.6); */
	}
}

@media only screen and (max-width: 767px) {
	html,
	body {
		font-size: 10px;
	}
	.about-h2 {
		margin-bottom: 30px;
	}
	.about-h3 {
		margin-bottom: 20px;
	}
	.about-box {
		margin-top: 0;
	}
	.section-heading,
	.contact-heading {
		margin-top: 60px;
	}
	.section-heading {
		margin-bottom: 10px;
	}
	.section-subheading:after {
		margin: 15px auto 0 auto;
	}
	.header-box-text {
		margin-bottom: 50px;
	}
	.main-nav {
		font-size: larger;
	}
	.logo-nav {
		height: 100px;
		margin: 10px 10px;
	}
	.header-portfolio {
		height: 17vh;
	}
	.row-item {
		width: 380px;
		height: 377px;
	}
	.row-item-inner img {
		width: 377px;
		height: 377px;
	}
	.row-item-inner p {
		font-size: large;
	}
	/* .overlay {
		width: 377px;
		height: 377px;
	} */
	.portfolio-filter-cat .category {
		padding: 0.5rem 0.8rem;
	}
	.contact-label {
		font-size: 1.6rem;
	}
}
/*Smaller to larger phones*/
@media only screen and (max-width: 480px) {
	.logo-nav {
		height: 8rem;
		margin: 2rem 2rem 1rem;
	}

	.sticky-nav .main-nav {
		left: 30%;
	}

	.sticky-nav .main-nav li {
		display: inline-block;
		margin-right: 1rem;
	}
	.about-box {
		flex-direction: column;
		align-items: flex-start;
	}
	.about-box-inner {
		width: 100%;
	}
	.about-text-container {
		padding: 2.5rem;
		font-size: 140%;
	}
	.about-h1 {
		line-height: 5.5rem;
	}
	.about-h3 {
		line-height: 2.7rem;
	}
	.span_1_of_3 {
		margin-bottom: 5px;
		padding: 0 10%;
	}
	.services-heading,
	.big-icon {
		margin-bottom: 20px;
	}
	.big-icon {
		margin-top: 15px;
	}
	.service-list {
		width: 60%;
		line-height: 5rem;
	}
	.services-box {
		font-size: 140%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.contact-form {
		width: 100%;
	}
	.contact-label {
		padding-left: 0;
	}
	.featured__row {
		margin: 0;
	}
	.featured-section {
		padding: 0;
	}
	.featured__para {
		font-size: 2rem;
	}
	.featured {
		flex-direction: column;
	}
	.croqui {
		padding: 0 1rem;
	}
	.croqui-section {
		padding-bottom: 0;
	}
	.footer-social-icons {
		margin-left: 0;
	}
	.row-item {
		width: 480px;
		height: 480px;
		padding: 0;
	}
	.row-item-inner img {
		width: 480px;
		height: 480px;
	}
	.row-item-inner p {
		top: 5%;
	}
	/* 
	.overlay {
		width: 480px;
		height: 480px;
	} */
	.portfolio-filter-cat .category {
		padding: 0.5rem 0.8rem;
	}
	.main-nav {
		position: absolute;
		left: 78%;
		width: 100%;
		margin-top: 1rem;
	}
	.main-nav li {
		display: block;
		margin-right: 30px;
	}
	.portfolio-filter-cat {
		flex-wrap: wrap;
	}
	.footer-para {
		width: 50%;
	}
}

/*Smaller phones*/
@media only screen and (max-width: 410px) {
	.main-nav {
		width: 100%;
		left: 75%;
		margin-top: 2rem;
		font-size: smaller;
	}

	.about-h1 {
		font-size: 300%;
	}

	.gallery {
		flex-wrap: wrap;
	}

	.footer {
		justify-content: space-evenly;
	}
}
